**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo
**/node_modules/
**/dist/
**/build/

.git/
.gitignore
.gitattributes
*.md
LICENSE

Dockerfile
.dockerignore
docker-compose*.yml

*.xlsx
